# Tipsy Python
*Season 1 | Episode 9*<br>
Video: https://youtu.be/SflnX2-8ek8

## Processing MS Excel Data with Pandas

In Python, and many other languages, it is possible to package code and distribute code libraries for others to use.<br>
It is common to download, install, and use third-party packages to extend the functionality of the standard library and use these features in our apps.<br><br>
The Python package manager utility is called *pip*

### Pandas
**Pandas** is one of the most popular data processing libraries in Python.<br><br>
There are many features available in Pandas, this video is just demonstrating one way to use Pandas to handle some MS Excel data. I recommend researching this package to discovery other functionality contained in it.

Download this sample Excel data to work with, put it in the same working directory where your python is running: https://docs.microsoft.com/en-us/power-bi/sample-financial-download

Use pip to download and install the pandas library by running the following command at the terminal/cmd/powershell:<br><br>
py -m pip install pandas<br><br>
*Also install the optional dependency xlrd* to read Excel:<br>
py -m pip install xlrd

In code import pandas - it's common convention to alias the library as pd

In [2]:
import pandas as pd

Read the Excel data out of the file and into a pandas *dataframe*

In [3]:
df = pd.read_excel('Financial Sample.xlsx')

A dataframe is a matrix-style object that is specific to the Pandas library - it is a collection of columns and rows used for processing data.

Print the dataframe:<br>
*NOTICE*:
- Total column and row counts are shown at the bottom
- A sample view of the data is printed
- The column headers from the Excel file were automatically imported and being used as column name in the dataframe

In [4]:
print(df)

              Segment                   Country    Product Discount Band  \
0          Government                    Canada  Carretera          None
1          Government                   Germany  Carretera          None
2           Midmarket                    France  Carretera          None
3           Midmarket                   Germany  Carretera          None
4           Midmarket                    Mexico  Carretera          None
..                ...                       ...        ...           ...
695    Small Business                    France   Amarilla          High
696    Small Business                    Mexico   Amarilla          High
697        Government                    Mexico    Montana          High
698        Government                    Canada      Paseo          High
699  Channel Partners  United States of America        VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0        1618.5                    3          20      32370.0       0.00
1        1321.0                    3          20      26420.0       0.00
2        2178.0                    3          15      32670.0       0.00
3         888.0                    3          15      13320.0       0.00
4        2470.0                    3          15      37050.0       0.00
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[700 rows x 16 columns]

Use bracket-notation on the iloc attribute of the dataframe object to view a specific row

In [5]:
df.iloc[0]

Segment                         Government
Country                             Canada
Product                          Carretera
Discount Band                         None
Units Sold                          1618.5
Manufacturing Price                      3
Sale Price                              20
Gross Sales                          32370
Discounts                                0
 Sales                               32370
COGS                                 16185
Profit                               16185
Date                   2014-01-01 00:00:00
Month Number                             1
Month Name                         January
Year                                  2014
Name: 0, dtype: object

Data is show on the right, with column names on the left - Pandas displays the data very nicely

Use iloc to take a slice of rows

In [10]:
df.iloc[0:2]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

To get the value of a particular column, use bracket-notation on the row to reference the column name

In [11]:
df.iloc[0][' Sales']

32370.0

You can also use bracket-notation to filter the rows in a dataframe.<br><br>
*For Instance*
- Filter the dataframe..
- To only show the rows where the value of the " Sales" column is greater than 1,000,000
- A dataframe holding the filtered data is returned
- Also note: you cannot format an integer with commas, but inserting underscores does not affect the value and makes it easier to read

In [14]:
sub_df = df[ df[' Sales'] > 1_000_000]

Look at the data in the filtered dataframe and notice that it only contains records with sales greater than 1,000,000

In [13]:
print(sub_df)

            Segment                   Country   Product Discount Band  \
124      Government                   Germany      Velo           Low
140      Government                   Germany  Amarilla           Low
192      Government  United States of America     Paseo           Low
405  Small Business                    Canada   Montana        Medium
423  Small Business                    Canada      Velo        Medium

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
124      2966.0                  120         350    1038100.0    20762.0
140      2966.0                  260         350    1038100.0    20762.0
192      3450.0                   10         350    1207500.0    48300.0
405      3802.5                    5         300    1140750.0   102667.5
423      3793.5                  120         300    1138050.0   102424.5

         Sales      COGS    Profit       Date  Month Number Month Name  Year
124  1017338.0  771160.0  246178.0 2013-10-01            10    October  2013
140  1017338.0  771160.0  246178.0 2013-10-01            10    October  2013
192  1159200.0  897000.0  262200.0 2014-07-01             7       July  2014
405  1038082.5  950625.0   87457.5 2014-04-01             4      April  2014
423  1035625.5  948375.0   87250.5 2014-07-01             7       July  2014

While it is not efficient to process large datasets by iteration, there are cases to iterate through the reduced data.<br>
Use the .iterrows() method to iterate through the rows of a dataframe.<br>
.iterrows() returns a collection of (index, value) tuples like the enumerate function.

In [15]:
for idx, row in sub_df.iterrows():
    print(row[' Sales'])

1017338.0
1017338.0
1159200.0
1038082.5
1035625.5

## Final Exercise
*Write a function to filter an Excel file and identify low sales*<br><br>

Requirements:
- This logic will have to be performed on different Excel files over time - parameterize the file name
- Also parameterize the low value metric as an input
- Reduce the dataset to rows where the value of 'Gross Sales' is under the low value metric
- Print a summary view of the records

In [16]:
def find_low_performers(excel_file, low_value):
    df = pd.read_excel(excel_file)
    filtered_rows = df[ df['Gross Sales'] < low_value]
    for _, row in filtered_rows.iterrows():
        print(f"{row['Segment']} - {row['Country']} - {row['Product']}: ${row['Gross Sales']}")

Test the function:

In [17]:
find_low_performers('Financial Sample.xlsx', 2_000)

Government - Germany - VTT: $1841.0
Government - United States of America - Carretera: $1841.0
Government - Canada - Paseo: $1799.0
Government - Germany - Carretera: $1960.0
Government - Germany - VTT: $1960.0